<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-	ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/Dashboard/style.css">
    <title>Admin Dashboard</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Test App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    Loggedd in as {{current_user.first_name}}<a href="/logout"> Logout</a>
                </span>
            </div>
        </nav>
        <h2>{{user_profile.first_name}} {{user_profile.last_name}}</h2>
        <div class="row">
            <div class="col">
                <h6>Registered at:</h6>
            </div>
            <div class="col">
                <p>{{user_profile.created_at}}</p>
            </div>
            <div class="col">
                <p></p>
            </div>
            <div class="col">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>User ID:</h6>
            </div>
            <div class="col">
                <p># {{user_profile.id}}</p>
            </div>
            <div class="col">
                <p></p>
            </div>
            <div class="col">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>Email address:</h6>
            </div>
            <div class="col">
                <p>{{user_profile.email}}</p>
            </div>
            <div class="col">
                <p></p>
            </div>
            <div class="col">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>Bio:</h6>
            </div>
            <div class="col">
                <p>{{user_profile.bio}}</p>
            </div>
            <div class="col">
                <p></p>
            </div>
            <div class="col">
                <p></p>
            </div>
        </div>
        <div class="row">

            <h3 class="messages_head">Note Board</h3>
        </div>
        <div class="row">
            <form action="/send_message/{{user_profile.id}}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="label" for="message">Send a note to {{user_profile.first_name}}:</label>
                    <textarea class="form-control" rows="2" placeholder="Type here..." name="message"></textarea>
                </div>
                <div class="form-group">
                    <input type="hidden" value="{{message.id}}">
                    <input class="btn btn-primary" type="submit" value="Send Message">
            </form>
        </div>

    </div>

    <div class="container">
            <h3 class="messages_head">Messages</h3>
            <form action="/send_message" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="label" for="message">Send a Message:</label>
                    <textarea class="form-control" rows="2" placeholder="Type here..." name="message"></textarea>
                </div>
                <div class="form-group">
                    <input type="hidden" value="{{message.id}}">
                    <input class="btn btn-primary" type="submit" value="Send Message">
            </form>
        </div>
        <div class="container">
            {% for message in all_messages %} 
            <h5 class="messages_head">Message from {{message.user.first_name}}</h5>
                <p class="messages">{{message.message}}</p>
                <a href="delete_message/{{message.id}}">'Delete Message'</a>
                <div class="form-group">
                    <form action="send_comment" method="POST">
                        {%csrf_token%}
                        <label class="label" for="comment">Post a Comment:</label>
                        <textarea class="form-control" rows="2" placeholder="Type here..." name="comment"></textarea>
                </div>
                <input type="hidden" name="message_id" value="{{message.id}}">
                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Post Comment">
                </div>
                </form>
        </div>
        <div class="comment_div">
            {% for comment in all_comments %}
            {% if comment.message.id == message.id %}
            <p class="social">{{comment}}</p>
            <p class="messages_head">Comment from {{comment.user.first_name}}: <span class="social">
                    {{comment.comment}}</span></p>
            <a href="/delete_comment/{{comment.id}}">Delete Comment</a>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
        </div>
</body>

</html>